@model Stotify.ViewModels.ShowListenerViewModel
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listener Details</h2>

<div>First Name : @Model.listener.ListenerFname</div>
<div>Last Name : @Model.listener.ListenerLname</div>
<div>Email: @Model.listener.ListenerEmail</div>
<div>Playlist you like: </div>

