@model List<Stotify.Models.Playlist>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Playlists</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Playlist Name</th>
        <th scope="col">Song</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var playlist in @Model)
    {
        <tr>
            <td><a href="Show/@playlist.PlaylistID">@playlist.PlaylistName</a></td>
            <td><a href="#">View Songs</a></td>
            <td><a href="Edit/@playlist.PlaylistID">Update </a>, <a href="#"> Delete</a></td>
        </tr>
    }
    </tbody>
</table>

<button type="button" class="btn btn-light">Add Playlist</button>


