@model Stotify.Models.Playlist
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Playlist</h2>

@using (Html.BeginForm("Create", "Playlist"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.PlaylistName)
        @Html.TextBoxFor(m => m.PlaylistName, new { @class = "form-control" })

    </div>

    <button type="submit" style = "text-decoration:none; color:white; font-weight:bold;" class="btn submit-btn">Add Playlist</button>
}